.Color-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.Color-container .colors {
  height: calc(100% - 40px);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 20%);
}
.go-back {
  background-color: #9f9fa0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.go-back span {
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
}
